.homepage--header {
    background-color: #009900;
    color: white;
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.homepage--header h1,
p {
    margin: 0;
}