a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.icon {
  cursor: pointer;
}

.icon-btn {
  background-color: transparent;
  outline-color: transparent;
  border: none;
}

.icon-btn:focus {
  outline: 2px solid blue;
}