.navbar {
    box-sizing: border-box;
    position: fixed;
    height: 75px;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    box-shadow: 0px 2px 12px 2px rgba(0, 0, 0, 0);
    transition: all .2s;
    overflow: auto;
}

.scrolled {
    box-shadow: 0px 2px 12px 2px rgba(0, 0, 0, 0.2);
}

.navbar nav {
    display: flex;
    gap: 24px;
}

.navbar-logo {
    height: 2.5rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.navbar-logo:hover {
    text-decoration: none;
}

.navbar-logo img {
    height: 3rem;
    margin-right: 12px;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: white;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 0;
    transform: translateX(-100%);
    transition: all .3s;
}

.mobile-nav__open {
    transform: translateX(0%);
}

.mobile-nav__open::before {
    transform: translateX(0%) !important;
}

.mobile-nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
}

.mobile-nav a {
    padding: 12px;
    transition: all .2s;
}

.mobile-nav a:hover {
    text-decoration: none;
    background-color: #eee;
}

.mobile-nav span {
    padding: 12px;
    background-color: #009900;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.navbar-menu-icon {
    display: none;
}

@media (max-width: 700px) {
    .navbar nav {
        display: none;
    }

    .navbar .navbar-menu-icon {
        display: block;
    }
}

@media (max-width: 450px) {
    .navbar-logo {
        font-size: 1.5rem;
    }
    .mobile-nav {
        width: 80vw;
    }
    .mobile-nav::before {
        left: 80vw;
    }
}